<div class="servertab row m-0"> 
  <div class="col-md-10 col-xs-11 tab-right">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id= {{tabname_1}}>
        <div class="row">
          <div class="col-xs-6">
            <div class="row">
              <div class="dashboard-text-common dashboard-text-name-top"><b>Name : </b></div>
              <div class="dashboard-text-common dashboard-text-name-top dashboard-text-name-left">{{name}}</div>
            </div>            
            <div class="row">
              <div class="dashboard-text-common dashboard-text-region-top"><b>Region : </b></div>
              <div class="dashboard-text-common dashboard-text-region-top dashboard-text-region-left">{{region}}</div>
            </div>
            <div class="row">
              <div class="dashboard-text-common dashboard-text-storage-top"><b>Storage : </b></div>
              <div class="dashboard-text-common dashboard-text-storage-top dashboard-text-storage-left">{{storage}}</div>
            </div>
            <div class="row">
              <div class="dashboard-text-common dashboard-text-status-top"><b>Status : </b></div>
              <div class="dashboard-text-common dashboard-text-status-top dashboard-text-status-left">{{status}}</div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="row">
              <span style="position:relative;display:inline" >
                <img src="images/second/serveros/os-{{distro}}.png" onerror="javascript:this.src='images/second/serveros/os-empty.png'">
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 p-r-0">
            <div class="content1">
              <p class="title1 m-0">{{timestamp}}</p>
              <p class="title2 m-0">Price per month</p>
            </div>
            <div class="content2">
            </div>
            <div class="content3">
              <p>0 USD</p>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="tabalert">{{theme-svg-alert}}</div>
            <div class="alert-desc">Be on alert if your server health state goes below 25%</div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>
