<div class="theme-navbar">
  <!-- Fixed navbar -->
  <div class="navbar-wrapper">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            {{svg/svg-mo-nav-icon class="mo-nav-icon"}}
          </button>

          <ul class="mo-profile">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <div class="profilehex profilehex1"><div class="profilehex-in1"><div class="profilehex-in2"></div></div></div>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>User Profile</li>
                <li>Settings</li>
                <!-- <li {{action "logout"}}>Logout</li> -->
              </ul>
            </li>
          </ul>

          <img class="nav-left-hex" src="../images/navbar/nav_left.png">
          <img class="nav-right-hex" src="../images/navbar/nav_right.png">
          {{#link-to "home" classNames="mo-logo"}}<img src="../images/navbar/logo1.png">{{/link-to}}
          {{#link-to "home" classNames="logo"}}<img class="ember-logo" src="../images/navbar/logo.png">{{/link-to}}
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav nav-menu left-menu">
            <li>{{#link-to "home"}}Dashboard{{/link-to}}</li>
            <li>{{#link-to "manage"}}Manage{{/link-to}}</li>
            <li>{{#link-to "launcher"}}Launcher{{/link-to}}</li>

          </ul>

          <ul class="nav navbar-nav navbar-right profile">
            <li class="dropdown {{if dropdownOpen 'open'}}">
              <a href="#" class="dropdown-toggle p-b-15" data-toggle="dropdown" role="button" {{action "toggleDropdown"}}>
                <div class="profilehex profilehex1"><div class="profilehex-in1"><div class="profilehex-in2"></div></div></div>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>{{#link-to "settings.user"}}User Profile{{/link-to}}</li>
                <li>{{#link-to "home"}}Settings{{/link-to}}</li>
                <li {{action "logout"}}><a href="#">Logout</a></li>

              </ul>
            </li>
          </ul>
          <div class="nav navbar-nav navbar-right svg-news">
              {{svg/svg-news}}
          </div>
          <div class="vr navbar-right"></div>
          <div class="nav navbar-nav navbar-right svg-stats">
              {{svg/svg-nav-stats}}
          </div>
          <div class="vr navbar-right"></div>
          <ul class="nav navbar-nav navbar-right riosearch">
            <li>
              {{fa-icon "search" class="icon-search"}}
              <input class="navbar-search" placeholder="Search">
            </li>
          </ul>

        </div><!--/.nav-collapse -->
    </nav>
  </div>
</div>
