{{dojos/infrastructure/common/node-credentials id=model.id model=model doReload="doReload"}}
<div class="network-box-outer">
  <div class="network-box {{active}}">
    <div class="network-subbox-1">
      <div class="pull-left st-name">
        {{nodeName}}
      </div>
      <div class="pull-right st-pin">
        <div class="stack-action">
          {{action-menu model=model}}
        </div>
      </div>
    </div>
    <div class="network-subbox-2">
      <span class="sub-title">{{t 'dojos.infrastructure.ninjas.detail.ip'}}</span>
      <span class="sub-name">{{ip}}</span>
      <br>
      {{#if showSchedule}}
      <span class="sub-title">{{t 'dojos.infrastructure.ninjas.detail.schedule'}}</span>
      <span class="sub-name">{{schedule}}</span>
      {{/if}}
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group riolabel pleft-26">
          {{#each nodeLabels as |label|}}
          <span class="label ptop-5 node-{{label}}">{{label}}</span>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
