<div class="modal fade" id="pooladd" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">{{t 'stackPage.admin.storage.pool.add'}}</h4>
    </div>
    <div class="modal-body">
      <form action="/action_page.php">
          <div class="form-group">
          <label for="poolname">{{t 'stackPage.admin.storage.name'}} </label>
          {{input type="text" class="form-control" id="poolname" value=name}}
          </div>
          <div class="form-group">
          <label for="pooldisk">{{t 'stackPage.admin.storage.disk.free'}}</label>
          {{#each unUsedPartitions as |point|}}
            {{admin-infra/storage-disk-radio point=point updatePoolData='updatePoolData'}}
          {{/each}}
          </div>
          <button type="submit" {{action 'createPool'}} class="btn btn-default">{{t 'stackPage.admin.header.add_btn'}}</button>
      </form>
    </div>
    </div>

  </div>
</div>
