<div class="left">
  <div class="domain">
    <div class="icon status" data-tooltip="{{statusToolTip}}">
      {{svg/svg-status status=statusAttr}}
    </div>
    <p class="text1" title={{name}}>{{name}}</p>
    <p class="text2">{{statusPhase}}</p>
  </div>
  <div class="ip">
    <div class="icon status">
      {{fa-icon "tasks"}}
    </div>
    {{ips}}
  </div>
  <div class="location">
    <div class="icon">
      {{fa-icon "tag"}}
    </div>
    <p class="text1">{{location}}</p>
    <p class="text2">{{blueprintName}}</p>
  </div>
</div>
<div class="right">
  <div class="stack-action">
    {{action-menu model=model msg=statusHistory id=id}}
  </div>
  <div class="gauge stack-box">
    {{infra-health-metric model=cpuPercentage showName=false showOS=true
    image=blueprintParentIcon version=blueprintVersion}}
  </div>
</div>
