<div class="network-detail-container">
	<div class="network-detail-box" id="sd_detail1">
		<div class="network-active-detail-name">
			{{name}}
		</div>
		<div class="network-active-detail-detail">
			<div class="sd-subheader">{{t 'stackPage.admin.network.detail'}}</div>
			{{#if nodeAvailable}}
				<div class="sd-ip-detail sd-table">
					<div class="sd-title">{{t 'stackPage.admin.node.ip'}}</div>
					<div class="sd-value">{{ip}}</div>
				</div>
				<div class="sd-cdate-detail sd-table">
					<div class="sd-title">{{t 'stackPage.admin.node.status'}}</div>
					<div class="sd-value {{show-status-bulp  status }}">{{status}}</div>
				</div>
				<div class="sd-ip-detail sd-table">
					<div class="sd-title">{{t 'stackPage.admin.node.metrics'}}</div>
					<div class="sd-value">{{#link-to "infrastructure-tab.data-center"}}{{t 'stackPage.admin.node.metricsShow'}}{{/link-to}}</div>
				</div>
				{{else}}
				<div class="sd-empty-pool">{{t 'stackPage.admin.node.noNode'}}</div>
			{{/if}}
		</div>
		<div class="network-active-detail-nodes">
			<div class="sd-subheader">{{t 'stackPage.admin.node.bridges'}}</div>
			{{#if nodeAvailable}}
				{{#each bridges as |bridge|}}
					{{admin-infra/node-bridge bridge=bridge }}
				{{/each}}
			{{else}}
				<div class="sd-empty-pool">{{t 'stackPage.admin.node.noBridges'}}</div>
			{{/if}}
		</div>
	</div>

</div>
