<div class="row">
    <div class="col-md-4">
        <p class="sub-title">{{t 'launcherPage.location.title'}}</p>
        <p class="sub-description">{{t 'launcherPage.location.description'}}</p>
        {{svg/svg-dots class="dots-ico"}}
        {{svg/svg-locateme class="locateme" click=(action "getLocation")}}
    </div>

    <div class="col-md-4">
      <div id="rio-globe"></div>
    </div>

    <div class="col-md-4">
        <p class="title">Your Location(s)</p>
        <ul class="rio-location-ul hex with-add">
          {{#each model.datacenters.content as |data|}}
            {{createcloud/select-location-list model=data}}
          {{/each}}
        </ul>
        {{svg/svg-addmore class="addmore" click=(action 'showInputField')}}
    </div>
</div>
