<div class="r-p40 model-delete">
  <h1 class="header model-genric">{{t 'account.actionPopup.admin.header' firstName=originalModel.first_name}}</h1>

  <p>{{t 'account.actionPopup.admin.makeAdminNote' firstName=originalModel.first_name}}</p>

  <div class="footer-actions">
    <button {{action "cancel"}} class="btn btn-primary">{{t 'account.actionPopup.admin.buttonCancel'}}</button>
    <button {{action "makeAsAdmin"}} class="btn btn-danger">{{t 'account.actionPopup.admin.buttonMakeAdmin'}}</button>
  </div>
</div>
