<section class="fail-whale">
  <div class="error">
    <h2 class="bg-danger">{{t 'failWhalePage.header'}}</h2>
    <div class="r-p20">
      <h4 class="r-mt20">{{model.code}} {{#if model.status}}({{model.status}}){{/if}}</h4>
      <p>{{model.message}}</p>
      <p class="small">{{model.detail}}</p>
      <div class="r-mt20">
        {{format-html-message 'failWhalePage.reloadButton'}}
        <a class="hand" {{action "logout"}}>{{t 'failWhalePage.logoutButton'}}</a>
      </div>
    </div>
  </div>


  <div class="failplane">
    <img src="{{app.baseAssets}}images/failwhale/fail-plane.svg" width="484" height="269" />
    <img class="failprop" src="{{app.baseAssets}}images/failwhale/fail-prop.svg" width="123" height="246" />
  </div>
  
  <img class="cloud" src="{{app.baseAssets}}images/failwhale/fail-cloud1.svg" width="254" height="121" />
  <img class="cloud" src="{{app.baseAssets}}images/failwhale/fail-cloud2.svg" width="151" height="91" />
  <img class="cloud" src="{{app.baseAssets}}images/failwhale/fail-cloud3.svg" width="175" height="102" />
  <img class="cloud" src="{{app.baseAssets}}images/failwhale/fail-cloud4.svg" width="300" height="142" />
  <img class="cloud" src="{{app.baseAssets}}images/failwhale/fail-cloud5.svg" width="320" height="152" />

  <div class="wave"></div>
</section>
