<div class="team-box left">
  <div class="domain">
    <div class="icon status">
      {{svg/svg-status status=originStatus}}
    </div>
    <p class="text1" title={{origin.object_meta.name}}>{{origin.object_meta.name}}</p>
    <p class="text2">Active</p>
    <div class="pull-right st-pin">
      <div class="team-action">
        {{action-menu model=model}}
      </div>
    </div>
  </div>
  <div class="ip">
    <div class="icon">
      {{fa-icon "tasks"}}
    </div>
    <p class="text1">{{t 'nav.organization.show.createdAt'}}</p>
    <p class="text2">{{createdAtMoment}}</p>
  </div>
  <div class="location">
    <div class="icon">
      {{fa-icon "tag"}}
    </div>
    <p class="text1">{{t 'nav.organization.show.account'}}</p>
    <p class="text2">{{origin.object_meta.account}}</p>
  </div>
</div>
