<p class="sub-title">{{t 'launcherPage.domain.title'}}</p>
<p class="sub-description">{{t 'launcherPage.domain.subtitle'}}</p>
<p class="domain-name">{{model.stacksfactory.object_meta.name}}</p>
{{editable-popup-textbox placeholder=domainPlaceHolder showSpinner=showSpinner targetActionName="setNewDomain" showEditBox=showDomainEditBox}}

<div class="row generate">
  <div class="g-left row">
    <div class="col-md-9">
      <p class="title">{{t 'launcherPage.domain.keyGenerate.title'}}</p>
      <div class="rio-selectbtn row">
        {{#each secretTypes as |key|}}
          {{createcloud/cloud-secret-pair-type secretType=secretType getSecretType="getSecretType" model=model activate=activate key=key}}
        {{/each}}
      </div>
    </div>
    <div class="col-md-3">
      <p class="title">{{t 'launcherPage.domain.keyGenerate.bitkey'}}</p>
      <p class="bits-key">
        {{bitsInKey}}
      </p>
    </div>
  </div>

  <div class="g-right">
    {{stack-launch-spinner size=25 showSpinner=showSpinner}}
    {{#unless showSpinner}}
      {{#if doneCreate}}
        {{svg/svg-generate class="generated"}}
      {{else}}
        {{svg/svg-generate click=(action "createSecret")}}
      {{/if}}
    {{/unless}}
  </div>
</div>
