<div class="setup-content" id="step-3">
    <div class="row m-30">
        <div class="col-xs-3">
            <p class="sub-title">Select Location</p>
            <p class="sub-description">This is sub description. Input text here.</p>
            <div class="points"></div>
            <div class="locate-me">
                <img class="btn-locate-me" src="images/second/locateme.png">
            </div>
        </div>
        <div class="col-xs-6 earth">
            <img class="bg-location" src="images/second/location.png">
            <div id="inputlocation" class="{{addMoreActive}}">
                <div class="close-btn">
                    <img class="btn-close" {{action "addMoreClose"}} src="images/second/location_close.png">
                </div>
                <!-- {{input type="text" name="field1" placeholder="Type your location" value=region}} -->
                <!-- <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"> -->
                  <div class="select-filter">
                    <div class='md-select {{if isActive 'active'}}' {{action "clickSelect" "isActive" on="click"}} {{action "focusOutSelect" "isActive" on='focusOut'}}>
                      <label for="ul-id"><button type="button" class="ng-binding">{{select}}</button></label>
                      <ul role="listbox" class="md-whiteframe-z1" aria-activedescendant="state2_AK" name="ul-id">
                        {{#each model.datacenters.content as |data|}}
                          <li role="option" value="{{data.object_meta.name}}" class="ng-binding ng-scope" tabindex="-1" {{action "clickOption" data.object_meta.name on="mouseDown"}}>{{data.object_meta.name}}</li>
                        {{/each}}
                      </ul>
                    </div>
                  </div>
                <!-- </div> -->

                <div>
                  {{theme-spinner size=25 condition=showSpinner}}

                </div>
            </div>
        </div>
        <div class="col-xs-3 m-t-30">
            <p class="your-location">Your location(s)</p>
            {{#if emptyRegion}}
            <span class="no-region">{{fa-icon "exclamation-circle"}} Nothing found</span>
            {{/if}}
            {{#each model.datacenters.content as |data|}}
              {{theme-vps-region-status model=data}}
            {{/each}}
            {{#unless emptyRegion}}
            <div class="add-more" {{action "addMore"}}>
                <img src="images/second/addmore.png">
            </div>
          {{/unless}}
        </div>
    </div>
</div>
