{{#if pageLoader}}
<div id="underlay" class="underlay hide"></div>
<div id="loading-underlay" class="underlay"></div>
<div id="loading-overlay" class="loading-overlay">
  {{app-loader}}
</div>
{{/if}}
<div class={{bassContainerCss}}>
  {{outlet "overlay"}} {{outlet "error"}}

  <div class="application">
    {{#unless pageLoader}}
    {{#if shownavbar}} {{page-navbar}} {{/if}} {{outlet}} {{notification-container position="bottom-right"}}
    <div class="dropdown" id="resource-actions-parent">
      <ul role="menu" id="resource-actions" class="hide resource-actions global-actions dropdown-menu dropdown-menu-right">
        <li class="resource-actions-tabbable"><a tabindex="-1" id="resource-actions-first" aria-label="Select an Action below"></a></li>
        {{#each resourceActions.activeActions as |item|}}
          {{#if item.divider}}
            <li class="divider"></li>
          {{else}}
            <li class="items">
              {{action-menu-item
            label=item.label
            icon=item.icon
            action="clickedAction"
            actionArg=item.action
            altActionArg=item.altAction
            class=item.class
          }}
            </li>
          {{/if}}
          {{else}}
            <li><a href="#" onclick="return false;" disabled="true">No actions available</a></li>
        {{/each}}
      </ul>
    </div>
    {{/unless}}
    {{notification-container position="bottom-right"}}
  </div>
</div>

{{component tooltip tooltipTemplate=tooltipTemplate class="container-tooltip" id="tooltip-base" role="tooltip" aria-hidden="false"}}
