<div class="modal fade" id="network_edit" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{t 'stackPage.admin.network.edit_title'}}</h4>
      </div>
      <div class="modal-body">
        <form action="#">
          {{#if error}}
            <div class="row">
              <div class="col-sm-12">
                <span class="error-page-text"><i class="fa fa-exclamation-circle"></i> {{pageWarning}}</span>
              </div>
            </div>
          {{else}}
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="networkname">{{t 'stackPage.admin.network.name'}}</label> {{input type="text" class="form-control " id="networkname" value=name}}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="networktype">{{t 'stackPage.admin.network.type'}}</label>
              <select class= {{if active "form-control" "form-control disabled"}} id="modal_cluster_storage" name="modal_cluster_storage" onchange= {{action "setVirtualNetwork" value="target.value"}}>
                        {{#each virtualNetworks as |virtualNetwork|}}
                          <option selected={{eq type virtualNetwork}}>{{virtualNetwork}}</option>
                        {{/each}}
                </select>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="network_subnet_ip">{{t 'stackPage.admin.network.subnet'}}</label>
              {{input type="text" class="form-control " id="network_subnet_ip" value=subnet}}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="gateway">{{t 'stackPage.admin.network.gateway'}}</label>
              {{input type="text" class="form-control " id="gateway" value=gateway}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="netmask">{{t 'stackPage.admin.network.netmask'}}</label>
              {{input type="text" class="form-control " id="netmask" value=netmask}}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="network_status">{{t 'stackPage.admin.network.status'}}</label>
              {{input type="text" class="form-control disabled" id="network_status" value=status}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="network_nodes">{{t 'stackPage.admin.network.selectNode'}}</label>
              <div class="rio-radio mov-top">
                {{#each nodeBridgeData as |data|}}
                  <div class="col-xs-12">
                    {{admin-infra/node-checkbox name=data.name data=data updatePoolData="updatePoolData" type=type  setBridge= "setBridge"}}
                    </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
        <button type="submit" {{action 'editVirtualNetwork'}} class="btn btn-default">
          {{t 'stackPage.admin.header.save_btn'}}
          {{#if showSpinner}}
          <i class="fa fa-circle-o-notch fa-spin"></i>
          {{/if}}
        </button>
        {{/if}}
        </form>
      </div>
    </div>

  </div>
</div>
