{{admin-infra/network-edit network=model nodes=nodes allnodes=allnodes doReloaded='doReloaded' modelSpinner=modelSpinner}}
<div class="network-detail-container">
	<div class="network-detail-box" id="sd_detail1">
		<div class="network-active-detail-name">
			{{#if virtualNetworkAvailable}}{{name}}
			<span class="network-edit" >
				<a href="#network_edit" {{action 'openEditModal'}}>
					{{t 'actions.edit'}}</a>
				</span>
				{{else}} &nbsp;{{/if}}
		</div>
		<div class="network-active-detail-detail">
			<div class="sd-subheader">{{t 'dojos.dashboard.networks.details.title'}}</div>
			{{#if virtualNetworkAvailable}}
				<div class="sd-ip-detail sd-table">
					<div class="sd-title">{{t 'dojos.dashboard.networks.details.type'}}</div>
					<div class="sd-value">{{type}}</div>
				</div>
				<div class="sd-type-detail sd-table">
					<div class="sd-title">{{t 'dojos.dashboard.networks.details.range'}}</div>
					<div class="sd-value">{{subnet}}</div>
				</div>
				<div class="sd-status-detail sd-table">
					<div class="sd-title">{{t 'dojos.dashboard.networks.details.gateway'}}</div>
					<div class="sd-value ">{{gateway}}</div>
				</div>
				<div class="sd-cdate-detail sd-table">
					<div class="sd-title">{{t 'dojos.dashboard.networks.details.netmask'}}</div>
					<div class="sd-value">{{netmask}}</div>
				</div>
				<div class="sd-cdate-detail sd-table">
					<div class="sd-title">{{t 'generic.status'}}</div>
					<div class="sd-value {{show-status-bulp  status }}">{{status}}</div>
				</div>
				{{else}}
				<div class="sd-empty-pool">{{t 'stackPage.admin.network.noNetworkData'}}</div>
			{{/if}}
		</div>
		<div class="network-active-detail-nodes">
			<div class="sd-subheader">{{t 'dojos.dashboard.networks.details.nodes'}}</div>
			{{#if virtualNetworkAvailable}}
				{{#each nodes as |node|}}
					{{admin-infra/network-node node=node }}
				{{/each}}
			{{else}}
				<div class="sd-empty-pool">{{t 'stackPage.admin.network.nodeData'}}</div>
			{{/if}}
		</div>
	</div>

</div>
