<div id="g-{{model.name}}" class="blueGaugeDiv guage_chart">
    <span style="margin:10px;position:relative;display:inline" class="b-{{model.name}}"></span>
</div>
{{#if showName}}
    <p class="gauge-name">{{model.name}}</p>
    <p class="gauge-power">power - <span class="gauge-value">{{power}}%</span></p>
{{/if}}

{{#if showOS}}
    <div class="showOS">
        <img style="float:left" src="../images/logos/{{image}}.png">
        <div class="os-version" style="float:right">
            {{svg/svg-version class="version-bg"}}
            <p>v.{{version}}</p>
        </div>
    </div>
{{/if}}
