<div class="scaling-count">
  <div class="row generate ">
    <div class="g-left row peer-show ">
      <div class="col-md-12">
        <div class="rio-selectbtn row">
          <div class="col-md-6">
            {{createcloud/chart-storage class="chart-storage" model=model initValue=model.vscaling.spec.max_resource.storage resource=maxDiskResource}}
          </div>
          <div class="col-md-6">
            {{createcloud/chart-storage class="chart-storage" model=model initValue=model.vscaling.spec.min_resource.storage resource=minDiskResource}}
          </div>
        </div>
        <div class="rio-selectbtn row">
          <div class="col-md-6">
            {{scaling/scale-percentage-chooser class="chart-cores" model=model initValue=model.vscaling.target_value.max_target_value_storage resource=resources.maximum scaleType=scaleType}}
          </div>
          <div class="col-md-6">
            {{scaling/scale-percentage-chooser class="chart-cores" model=model initValue=model.vscaling.target_value.min_target_value_storage resource=resources.minimum scaleType=scaleType}}
          </div>
        </div>
        <!-- <div class="rio-selectbtn row">
          <div class="col-md-6">
          {{scaling/scale-percentage-chooser class="chart-cores" model=model initValue=model.hscaling.target_value.max_target_value_storage resource=maxCpuResource}}
        </div>
        <div class="col-md-6">
          {{scaling/scaledown-percentage-chooser class="chart-cores" model=model initValue=model.hscaling.target_value.min_target_value_storage resource="storage"}}
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
