<div class="theme-navbar">
  <!-- Fixed navbar -->
  <div class="navbar-wrapper">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            {{svg/svg-mo-nav-icon class="mo-nav-icon"}}
          </button>
        <img class="nav-left-hex" src="assets/images/navbar/nav_left.png">
        <img class="nav-right-hex" src="assets/images/navbar/nav_right.png">
        {{#link-to "infrastructure-tab.data-center" classNames="mo-logo" }}<img src="assets/images/navbar/logo1.png">{{/link-to}}
        {{#link-to "infrastructure-tab.data-center" classNames="logo" }}<img class="ember-logo" src="assets/images/navbar/logo.png">{{/link-to}}
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav nav-menu left-menu">
          <li>
            {{#link-to "infrastructure-tab.data-center"}}{{t 'nav.dashboard'}}{{/link-to}}
          </li>
        </ul>
        <ul class="nav navbar-nav nav-menu">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{t 'nav.deploy'}}
            </a>
            <ul class="dropdown-menu">
              <li>
                {{#link-to "stacks.createcloud"}}{{t 'nav.digitalcloud'}}{{/link-to}}
              </li>
              <li>
                {{#link-to "stacks.createcontainer"}}{{t 'nav.docker'}}{{/link-to}}
              </li>
              <li class="disabled">
                {{#link-to "stacks.createcontainer"}}{{t 'nav.customApp'}}{{/link-to}}
              </li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav nav-menu">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
               {{t 'nav.blockchain'}}
            </a>
            <ul class="dropdown-menu">
              <li>
                {{#link-to "stacks.createcloud"}}{{t 'nav.infrastructureNetwork'}}{{/link-to}}
              </li>
              <li>
                {{#link-to "stacks.createcontainer"}}{{t 'nav.deployApplication'}}{{/link-to}}
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav nav-menu left-menu">
          <li>
            {{#link-to "stacks"}}{{t 'nav.manage'}}{{/link-to}}
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right profile">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle p-b-15" data-toggle="dropdown" role="button">
              <div class="profilehex profilehex1">
                <div class="profilehex-in1">
                  <div class="profilehex-in2"></div>
                </div>
              </div>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu nav-profile">
              <li>
                {{#link-to "admin.infra"}}{{t 'nav.user.admin'}}{{/link-to}}
              </li>
              <li role="presentation" class="divider"></li>
              <li>
                {{#link-to "accounts.index"}}{{t 'nav.user.profile'}}{{/link-to}}
              </li>
              <li {{action "logout"}}><a href="#">{{t 'nav.user.logout'}}</a></li>
            </ul>
          </li>
        </ul>
        <div class="nav navbar-nav navbar-right svg-news">
          {{svg/svg-news}}
        </div>
        <div class="vr navbar-right"></div>
        <div class="nav navbar-nav navbar-right svg-stats">
          {{svg/svg-nav-stats}}
        </div>
        <div class="vr navbar-right"></div>
        <ul class="nav navbar-nav navbar-right riosearch">
          <li>
            {{fa-icon "search" class="icon-search"}}
            <input class="navbar-search" placeholder="Search">
          </li>
        </ul>

      </div>
      <!--/.nav-collapse -->
    </nav>
  </div>
</div>
