<div class="r-p40 model-delete">
  <h1 class="header model-genric">{{t 'account.actionPopup.revokeAdmin.header' firstName=originalModel.first_name}}</h1>

  <p>{{t 'account.actionPopup.revokeAdmin.revokeAdminNote' firstName=originalModel.first_name}}</p>

  <div class="footer-actions">
    <button {{action "cancel"}} class="btn btn-primary">{{t 'account.actionPopup.revokeAdmin.buttonCancel'}}</button>
    <button {{action "revokeAdmin"}} class="btn btn-danger">{{t 'account.actionPopup.revokeAdmin.buttonRevokeAdmin'}}</button>
  </div>
</div>
