<div class="r-p40 model-delete">
  <h1 class="header model-genric">{{t 'messages.admin.infra.user.revokeAdmin' firstName=originalModel.first_name}}</h1>

  <p>{{t 'messages.admin.infra.user.revokeAdminNote' firstName=originalModel.first_name}}</p>

  <div class="footer-actions">
    <button {{action "cancel"}} class="btn btn-primary">{{t 'actions.cancel'}}</button>
    <button {{action "revokeAdmin"}} class="btn btn-danger">{{t 'actions.save'}}</button>
  </div>
</div>
