<div class="performance-content">
    <p class="sub-title">{{t 'launcherPage.resource.title'}}</p>
    <p class="sub-description">{{t 'launcherPage.resource.description'}}</p>

    <div class="row">
        <div class="col-md-6 cores-content">
            {{deploy-widgets/chart-cores class="chart-cores" initValue=stacksfactory.resources.cpu resource=resourceCpu}}
        </div>
        <div class="col-md-6 storage-content">
            <p class="title">Storage Type</p>
            <div class="content">
                {{svg/svg-flash class=(if isSelectedFlash "rio-flash selected" "rio-flash") click=(action "clickFlash")}}
                {{svg/svg-hdd class=(if isSelectedFlash "rio-hdd" "rio-hdd selected") click=(action "clickHDD")}}
                <span class="text-or">or</span>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-md-6 ram-content">
            {{deploy-widgets/chart-ram class="chart-ram" initValue=stacksfactory.resources.memory resource=resourceMemory}}
        </div>
        <div class="col-md-6 capacity-content">
            {{deploy-widgets/chart-storage class="chart-storage" initValue=stacksfactory.resources.storage resource=resourceDisk}}
        </div>
    </div>
</div>
