<!-- <div class="pool-active"> -->
<div class="sd-disk-name sd-table">
  <div class="sd-title">{{diskName}}</div>
</div>
<div class="sd-disk-cdate sd-table">
  <div class="sd-title">{{t 'dojos.infrastructure.locations.title'}} </div>
  <div class="sd-value">{{diskType}}</div>
</div>
<div class="sd-disk-asize sd-table">
  <div class="sd-title">{{t 'dojos.infrastructure.storages.pools.size'}} </div>
  <div class="sd-value">{{availSize}}</div>
</div>
<div class="sd-disk-usize sd-table">
  <div class="sd-title">{{t 'dojos.infrastructure.storages.pools.usedSize'}}</div>
  <div class="sd-value sd-green">{{usedSize}}</div>
</div>
<div class="pool-active">
</div>
