<div class="layout2">
  <p class="sub-title blknetwork-title">{{t 'launcherPage.blockchainApp.title'}}</p>
  <p class="sub-description blknetwork-subtitle">{{t 'launcherPage.blockchainApp.subtitle'}}</p>

  <div class= {{if showInfo "display-none" "row m-0"}}>
    <p class="info" {{action "clickInfo" on="click"}}>i</p>
    {{#if blockchianNetworkFound}}
      {{#each blockchianNetwork as |network|}}
        <div class="col-sm-3">
          {{svg/svg-blockchain-network model=model selected=selected refreshAfterAction="refreshAfterSelect" activate=activate network=network }}
        </div>
      {{/each}}
    {{else}}
      <div class="row">
        <div class="col-sm-12">
          <p class="sub-description blknetwork-subtitle">
            <i class="fa fa-exclamation-circle">
            </i>
            {{t 'launcherPage.blockchainApp.emptynetwork'}}
          </p>
        </div>
      </div>
    {{/if}}
  </div>
  <div class= {{if showInfo "show-info row m-0" "display-none"}}>
    <p class="close-btn" {{action "clickClose" on="click"}}>×</p>
    {{createcloud/cloud-type-description}}
  </div>
</div>
