<div class="rio-selectbtn" title= {{errorMsg}}>
  <label {{action 'sendType'}} class= {{enabler}}>
    <input type="checkbox" class="option-input radio" checked={{active}} name="example"/>
    <span>{{disk.disk}}</span>
  </label>
</div>
