<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
  <div class="select-filter {{disableFilter}}">
    <div class='md-select {{showDropDown}}' {{action "selectFilter" on="click"}} {{action "doneFilter" on='focusOut'}}>
      <label for="ul-id">
        <button type="button">
          <span>{{currentSelection}}</span>
        </button>
      </label>
      <ul role="listbox" class="md-whiteframe-z1" aria-activedescendant="state2_AK" name="ul-id">
        {{#each syncedData as |opt|}}
          {{#if (eq opt selected)}}
            <li role="option" value="{{opt}}" tabindex="-1">
              {{opt}}
            </li>
            <li class="divider"></li>
          {{else}}
            <li role="option" value="{{opt}}" tabindex="-1" {{action "propagateFilter" opt on="mouseDown"}}>
              {{opt}}
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
