<div class="r-p40 model-delete">
  <h1 class="header model-genric">{{t 'account.actionPopup.revokeSuspend.header' firstName=originalModel.first_name}}</h1>

  <p>{{t 'account.actionPopup.revokeSuspend.revokeSuspendNote' firstName=originalModel.first_name}}</p>

  <div class="footer-actions">
    <button {{action "cancel"}} class="btn btn-primary">{{t 'account.actionPopup.revokeSuspend.buttonCancel'}}</button>
    <button {{action "revokeSuspend"}} class="btn btn-danger">{{t 'account.actionPopup.revokeSuspend.buttonRevokeSuspend'}}</button>
  </div>
</div>
