<div class="home">
  <div class="container">
    <div class="row">
      <div class="logo-div col-xs-12">
        <img class="logo-img" src="images/logo2.png">
      </div>
    </div>

    <div class="content row">
      <div class="tab-left">
        <div class="stepwizard">
          <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
              <div class="step1 btn-pending btn btn-select">
                <a class="first-show" href="#step-1" type="button" value="step1">
                    <i class="arrow-up fa fa-long-arrow-up"></i>
               </a>
                <p class="description vertical-text">Pick Cloud Type</p>
                <a href="#step-2" type="button" value="step2">
                    <i class="arrow-down fa fa-long-arrow-down"></i>
                </a>
              </div>
            </div>
            <div class="stepwizard-step">
              <div class="step2 btn-pending btn">
                <a href="#step-1" type="button" value="step1">
                                    <i class="arrow-up fa fa-long-arrow-up"></i>
                                </a>
                <p class="description vertical-text">Select a Domain</p>
                <a href="#step-3" type="button" value="step3">
                                    <i class="arrow-down fa fa-long-arrow-down"></i>
                                </a>
              </div>
            </div>
            <div class="stepwizard-step">
              <div class="step3 btn-pending btn">
                <a href="#step-2" type="button" value="step2">
                                    <i class="arrow-up fa fa-long-arrow-up"></i>
                                </a>
                <p class="description vertical-text">Select Location</p>
                <a href="#step-4" type="button" value="step4">
                                    <i class="arrow-down fa fa-long-arrow-down"></i>
                                </a>
              </div>
            </div>
            <div class="stepwizard-step">
              <div class="step4 btn-pending btn">
                <a href="#step-3" type="button" value="step3">
                                    <i class="arrow-up fa fa-long-arrow-up"></i>
                                </a>
                <p class="description vertical-text">Cloud Performance</p>
                <a href="#step-5" type="button" value="step5">
                                    <i class="arrow-down fa fa-long-arrow-down"></i>
                                </a>
              </div>
            </div>
            <div class="stepwizard-step">
              <div class="step5 btn-pending btn">
                <a href="#step-4" type="button" value="step4">
                                    <i class="arrow-up fa fa-long-arrow-up"></i>
                                </a>
                <p class="description vertical-text">Server OS</p>
                <a href="#step-6" type="button" value="step6">
                                    <i class="arrow-down fa fa-long-arrow-down"></i>
                                </a>
              </div>
            </div>
            <div class="stepwizard-step">
              <div class="step6 btn-pending btn">
                <a href="#step-5" type="button" value="step5">
                                    <i class="arrow-up fa fa-long-arrow-up"></i>
                                </a>
                <p class="description vertical-text">Networking</p>
                <a href="#step-7" type="button" value="step7">
                                    <i class="arrow-down fa fa-long-arrow-down"></i>
                                </a>
              </div>
            </div>
            <div class="stepwizard-step">
              <div class="step7 btn-pending btn">
                <a href="#step-6" type="button" value="step6">
                                    <i class="arrow-up fa fa-long-arrow-up"></i>
                                </a>
                <p class="description vertical-text">Summary</p>
                <a href="#step-7" type="button" value="step7">
                                    <i class="arrow-down fa fa-long-arrow-down"></i>
                                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-right">
        {{theme-vps-create model=model done='done'}}
        {{theme-vps-domain model=model done='done'}}
        {{theme-vps-location model=model done='done'}}
        {{theme-vps-resource model=model done='done'}}
        {{theme-vps-plan model=model done='done'}}
        {{theme-vps-networking model=model done='done'}}
        {{theme-vps-summary model=model done='done' undone='undone'}}
      </div>
    </div>
  </div>
</div>
