<div class="cluster-detail-container">
  <div class="cluster-detail-box" id="sd_detail1">
    <div class="cluster-active-detail-name">
      {{#if locationAvaliable}}{{name}} {{else}} &nbsp;{{/if}}
    </div>
    <div class="cluster-active-detail-detail">
      <div class="sd-subheader">{{t 'dojos.dashboard.locations.details.title'}}</div>
      {{#if locationAvaliable}}
        <div class="sd-storage-detail sd-table">
          <div class="sd-title">{{t 'dojos.dashboard.locations.details.storage'}}</div>
          <div class="sd-value">{{selectedStorage}}</div>
        </div>
        <div class="sd-currency-detail sd-table">
          <div class="sd-title">{{t 'dojos.dashboard.locations.details.country'}}</div>
          <div class="sd-value">{{country}}</div>
        </div>
        <div class="sd-currency-detail sd-table">
          <div class="sd-title">{{t 'dojos.dashboard.locations.details.status'}}</div>
          <div class="sd-value {{show-status-bulp  status }}">{{status}}</div>
        </div>
      {{else}}
        <div class="sd-empty-pool">{{t 'dojos.dashboard.networks.details.nodes'}}</div>
      {{/if}}
    </div>
    <div class="cluster-active-detail-detail">
      <div class="sd-subheader">{{t 'dojos.dashboard.networks.details.nodes'}}</div>
      {{#if locationAvaliable}}

        {{#each selectedNodes as |node|}}
          {{admin-infra/network-node node=node }}
        {{/each}}
      {{else}}
        <div class="sd-empty-pool">{{t 'dojos.dashboard.locations.noClusterNode'}}</div>
      {{/if}}
    </div>
    <div class="cluster-active-detail-detail">
      <div class="sd-subheader">{{t 'dojos.dashboard.networks.title'}}</div>
      {{#if locationAvaliable}}

        {{#each selectedVirtualNetworks as |net|}}
          {{admin-infra/location-network network=net }}
        {{/each}}
      {{else}}
        <div class="sd-empty-pool">{{t 'dojos.dashboard.locations.noClusterNetwork'}}</div>
      {{/if}}
    </div>
  </div>
</div>
