<div class="col-sm-3">
<div class="rio-selectbtn" title= {{errorMsg}}>
  <label {{action 'sendType'}} >
    <input type="checkbox" class="option-input radio" checked={{active}} name="example"/>
    <span>{{name}}</span>
  </label>
</div>
</div>
<div class="col-sm-5">
<label for="network_type"></label>
<select class="form-control {{enabler}}" id="{{data.name}}" name="modal_cluster_storage" onchange= {{action "sendBridge" value="target.value"}}>
                                         <option selected={{if enabler "selected" ""}}>select</option>
                                        {{#each bridges as |bridge|}}
                                        <option selected={{eq data.active_bridge bridge.value}}>{{bridge.value}}</option>
                                        {{/each}}
                                      </select>
                                    </div>
