{{organization/create-team originName=currentOrigin doReloadInner="doReloadInner"}}
<div class="filter">
    <div class="row">
        <div class="col-sm-12 col-lg-2">
            <div class="cloud-count">
                {{svg/svg-cloud-count}}
                <label>{{teamsCount}} teams</label>
            </div>
        </div>
        <div class="col-sm-12 col-lg-10">
            <div class="row p-r-15">
                <div class="col-sm-2 col-md-2 col-lg-1 filter-text">
                    {{#conditional-loading-spinner condition=showLoading}}
                        <span>{{t 'stackPage.applicationTab.filterBy'}}</span>
                    {{/conditional-loading-spinner}}
                </div>
                <div class="col-sm-10 col-md-10 col-lg-11">
                    <div class="row">
                        {{organization/origin-filters model=teamsDataContents fullmodel=fullmodel category=group showLoading=showLoading}}
                        <div class="col-sm-3 col-md-3 col-lg-2 filter-text">
                                <span>{{t 'nav.organization.show.selectTeam'}}</span>
                        </div>
                          <div class="col-sm-4">
                            {{select-drop-down options=teamsName callBackAction="selectTeam" initValue=currentTeam placeholder=selectPlaceHolder}}
                          </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 push-right">
                            <div class="search-content">
                                <button {{action "createTeam"}} type="button" class="btn">+ Team</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cloud-lists row">
  {{#if showInnerSpinner}}
  <div class="spinner infra-spinner">
  {{stack-launch-spinner size=25 showSpinner=true}}
  </div>
  {{else}}
  {{#each teamsDataContents as |teamsDataContent|}}
      <div class="list col-sm-5 col-md-3">
          {{organization/team-box originName=currentOrigin model=teamsDataContent}}
      </div>
      {{else}}
     {{organization/team-box-empty btnName=emptyBtn btnAction="createTeam"}}
  {{/each}}
  {{/if}}
</div>
