<div class="editable-popup activate">
  {{svg/svg-edit class=(if showEditBox "edit-ico" "display-none") click=(action 'clickInputIcon')}}

  <div class= {{if showEditBox "display-none" "showform"}}>
    {{input type="text" placeholder=placeholder1 value=editedText1}}
    {{input type="text" placeholder=placeholder2 value=editedText2}}
    <button {{action "setPopupData" editedText1 editedText2}}>{{t 'dojos.settings.entitlement.show.btn'}}
    {{#if showSpinner}}
    <i class="fa fa-circle-o-notch fa-spin"></i>
    {{/if}}
  </button>
  </div>

</div>
