<div class="servertab row m-0">
    <div class="col-md-12 col-lg-2 tab-left">
        <ul class="nav nav-pills brand-pills nav-stacked" role="tablist">
            <li role="presentation" class="brand-nav active" data-tooltip="User"><a href="#tab{{model.id}}1" aria-controls="tab1" role="tab" data-toggle="tab" class="tabuser">{{svg/svg-user}}</a></li>
            <li role="presentation" class="brand-nav" data-tooltip="Speed"><a href="#tab{{model.id}}2" aria-controls="tab2" role="tab" data-toggle="tab" class="tabspeed">{{svg/svg-speed}}</a></li>
            <li role="presentation" class="brand-nav" data-tooltip="Security"><a href="#tab{{model.id}}3" aria-controls="tab3" role="tab" data-toggle="tab" class="tabsecur">{{svg/svg-secur}}</a></li>
            <li role="presentation" class="brand-nav" data-tooltip="State"><a href="#tab{{model.id}}4" aria-controls="tab4" role="tab" data-toggle="tab" class="tabstats">{{svg/svg-stats}}</a></li>
            <li role="presentation" class="brand-nav ul-desc">
                <div class="p-l-7">
                    <div class="choose-desc">CHOOSE</div>
                    <div class="category-desc">CATEGORY</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-12 col-lg-10 tab-right">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab{{model.id}}1">
                {{infra-node-visualizecpu model=model}}
            </div>
            <div role="tabpanel" class="tab-pane" id="tab{{model.id}}2">
                <p>
                    The voodoo sacerdos flesh eater, suscitat mortuos comedere
                    carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies.
                    Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.
                </p>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab{{model.id}}3">
                <p>
                    Lorem ipsizzle dolor away amizzle, consectetuer pizzle elizzle. Nullizzle yo velizzle, check it out volutpizzle, quis, gravida vel, yo.
                    Ma nizzle eget tortor. Sizzle eros. My shizz izzle dolizzle gizzle turpis tempizzle fo shizzle mah nizzle fo rizzle, mah home g-dizzle.
                    Maurizzle pellentesque nibh izzle own yo'. Check it out in tortor. Pellentesque fizzle rhoncizzle nisi.
                </p>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab{{model.id}}4">
                <p>
                    Collaboratively administrate empowered markets via plug-and-play networks.
                    Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without
                    revolutionary ROI.
                </p>
            </div>
        </div>
    </div>
</div>
