<!-- <div class="pool-active"> -->
<div class="sd-disk-name sd-table">
  <div class="sd-title">{{diskName}}</div>
</div>
<div class="sd-disk-cdate sd-table">
  <div class="sd-title">{{t 'stackPage.admin.storage.path'}} </div>
  <div class="sd-value">{{diskType}}</div>
</div>
<div class="sd-disk-asize sd-table">
  <div class="sd-title">{{t 'stackPage.admin.storage.pool.availSize'}} </div>
  <div class="sd-value">{{availSize}}</div>
</div>
<div class="sd-disk-usize sd-table">
  <div class="sd-title">{{t 'stackPage.admin.storage.pool.usedSize'}}</div>
  <div class="sd-value sd-green">{{usedSize}}</div>
</div>
<div class="pool-active">
</div>
