<div class="row p-t-10">
  <div class="col-xs-6">
    <div class="server-desc">{{name}}</div>
    <div class="gauge_box"></div>
  </div>
  <div class="col-xs-6">
    <img class="dot-to-dot" src="assets/images/home/dot_to_dot.png">
    <div class="row p-t-24" style="max-width:300px">
      <span style="position:relative;display:inline"
      class="hex_chart{{idAttr}}"></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 p-l-20">
    <div class="content1">
      <p class="title1 m-0">{{date}}</p>
      <p class="title2 m-0">{{t 'dashboard.statistics.price_per_month'}}</p>
    </div>
    <div class="content2">
    </div>
    <div class="content3">
      <p>{{cost_of_consumption}} {{t 'dashboard.statistics.USD'}}</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 m-b-10 place-center">
    <div class="col-xs-4 p-t-10">
    <div class="row">
      <div class="content1">
        <p class="title1 m-0">{{date}}</p>
        <p class="title2 m-0">{{t 'generic.status'}}</p>
      </div>
    </div>
    <div class="row">
      <div class="content1">
        <p class="title2 m-0">{{statusText}}</p>
      </div>
      </div>
    </div>
      <div class="col-xs-3">
      <div class="content3">
        <p>
          <div class="tabalert">
            <div class="status-round">
              <div class="icon status" data-tooltip={{statusToolTip}}>
                {{svg/svg-status status=statusAttr}}
              </div>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
