		<div class="modal fade rio-default-btn-infra" id="addcluster" role="dialog">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">{{t 'stackPage.admin.cluster.add_title'}}</h4>
				</div>
				<div class="modal-body">
					<form action="#">
						{{#if error}}
						<div class="row">
							<div class="col-sm-12">
                  <span class="error-page-text"><i class="fa fa-exclamation-circle"></i> {{pageWarning}}</span>
							</div>
						</div>
						{{else}}
						  <div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="modal_cluster_name">{{t 'stackPage.admin.cluster.add_name'}}</label>
									{{input type="text" class="form-control" id="location" value=name}}
								</div>
								<div class="form-group">
									<label for="modal_cluster_currency">{{t 'stackPage.admin.cluster.add_country'}}</label>
									{{input type="text" class="form-control" id="country" value=country}}
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="modal_cluster_storage">{{t 'stackPage.admin.cluster.add_select_storage'}}</label>
									 <select class="form-control" id="modal_cluster_storage" name="modal_cluster_storage" onchange={{action "selectStorage" value="target.value"}}>
										 <option disabled selected>{{t 'stackPage.admin.cluster.add_select_storage_placeholder'}}</option>
										{{#each storages as |storageName|}}
										<option>{{storageName.name}}</option>
										{{/each}}
									  </select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label for="modal_cluster_node">{{t 'stackPage.admin.cluster.add_select_node'}}</label>
									<div class="rio-radio mov-top">

			              {{#each nodes as |node|}}
			                <div class="col-xs-4">
			                  {{admin-infra/cluster-checkbox name=node.name data=node updateData="updateNodeData"}}
			                </div>
			              {{/each}}
			            </div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label for="modal_cluster_network">{{t 'stackPage.admin.cluster.add_select_network'}}</label>
									<div class="rio-radio mov-top">
			              {{#each networks as |network|}}
			                <div class="col-xs-4">
			                  {{admin-infra/cluster-checkbox name=network.name data=network updateData="updateNetworkData"}}
			                </div>
			              {{/each}}
			            </div>
								</div>
							</div>
						</div>
						<div class="col-xs-12">
							<button type="submit" {{action 'createLocation'}} class="btn btn-default">
								{{t 'stackPage.admin.header.add_btn'}}
								{{#if showSpinner}}
								<i class="fa fa-circle-o-notch fa-spin"></i>
								{{/if}}
							</button>
						</div>
						{{/if}}
					</form>
				</div>
			  </div>
			</div>
		</div>
