<div class="col-sm-6">
  {{svg/svg-cpu-ico}}
  <p class="title">{{t 'launcherPage.compute.cpu.capTitle'}}</p>
  <p class="description">{{t 'launcherPage.compute.cpu.description'}}</p>
</div>
<div class="col-sm-6">
  {{svg/svg-gpu-ico}}
  <p class="title">{{t 'launcherPage.compute.gpu.capTitle'}}</p>
  <p class="description">{{t 'launcherPage.compute.gpu.description'}}</p>
</div>
