<div class="create-cloud">
    <div class="container">
        {{#link-to "infrastructure-tab.data-center"}}<img class="logo-img" src="assets/images/logo2.png">{{/link-to}}
        <div class="col-container">
            <div class="col-right">
                {{deploy-widgets/select-compute-type class="cloud-type cblock" model=model}}
                {{deploy-widgets/select-domain class="select-domain cblock" model=model}}
                {{deploy-widgets/select-location class="select-location cblock" model=model}}
                {{deploy-widgets/select-compute-resources class="cloud-performance cblock" model=model}}
                {{deploy-widgets/appstore-machines class="server-os cblock" model=model}}
                {{deploy-widgets/select-network class="networking cblock" model=model}}
                {{deploy-widgets/confirm-summary class="summary cblock" model=model networking=model.networking}}
                {{page-footer}}
            </div>
        </div>
    </div>
</div>
