<p class="sub-title">{{t 'launcherPage.domain.title'}}</p>
<p class="sub-description">{{t 'launcherPage.domain.subtitle'}}</p>
<p class="domain-name">{{model.stacksfactory.object_meta.name}}</p>
{{editable-popup-textbox placeholder=domainPlaceHolder showSpinner=showSpinner targetActionName="setNewDomain" showIcon=showIcon btnName=btnName}}
<div class="row generate ">
  <div class="g-left row peer-show">
    <div class="col-md-12">
      <div class="rio-selectbtn row">
        {{createblockchain-network/updown-peers-counter class="chart-cores" model=model initValue=model.stacksfactory.replicas}}
    </div>
    </div>
  </div>
</div>
