    <div class="cluster-box-outer">
      <div class="cluster-box {{active}}">
        <div class="cluster-subbox-1">
          <div class="pull-left st-name">
             {{name}}
          </div>
          <div class="pull-right st-pin">
             <span data-detail="#sd_detail1" class="detail-magic" ><img src="assets/images/admin/storage-pin.png" alt="cluster-pin"></span>
          </div>
        </div>
        <div class="cluster-subbox-2">
          <span class="sub-title">{{t 'stackPage.admin.locations.storage'}}</span>
          <span class="sub-name">{{storagesInLocation}}</span>
          <br>
          <span class="sub-title">{{t 'stackPage.admin.locations.type'}}</span>
          <span class="sub-name">{{type}}</span>
        </div>
      </div>
    </div>
