<div class="home">

  {{!-- Main gauges --}}
  <div id="maingauge" class="main-gauges p-t-50 p-b-50">
    <p class="title p-l-50">
      <span class="underline">{{t 'dashboard.maingaugesFirstSec'}}</span>{{t 'dashboard.maingaugesSecondSec'}}</p>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
        {{infra-health-metriclist model=reportGauge}}
      </div>
    </div>
  </div>
  {{!-- Statistics --}}
  <div class="statistics p-t-50 p-b-50">
    <p class="title p-l-50 p-b-20">
      <span class="underline">{{t 'dashboard.statisticsFirstSecNinja'}}</span>{{t 'dashboard.statisticsSecondSecNinja'}}
      <span class="underline">{{t 'dashboard.statisticsFirstSec'}}</span>{{t 'dashboard.statisticsSecondSec'}}</p>
    {{#if checkEmptyNinja}}
      {{infra-empty-statistics type="ninja" model=model}}
    {{else}}
      <div class="row list-content">
        {{#each reportNinja as |sdata|}}
          <div class="col-md-6 col-sm-12 list">
            {{infra-node-statistics model=sdata type="ninja" counterModel=model}}
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>

  <div class="statistics p-t-50 p-b-50">
    <p class="title p-l-50 p-b-20">
      <span class="underline">{{t 'dashboard.statisticsFirstSecSensei'}}</span>{{t 'dashboard.statisticsSecondSecSensei'}}
      <span class="underline">{{t 'dashboard.statisticsFirstSec'}}</span>{{t 'dashboard.statisticsSecondSec'}}</p>
    {{#if checkEmptySensei}}
      {{infra-empty-statistics type="sensei" model=model}}
    {{else}}
      <div class="row list-content">
        {{#each reportSensei as |sdata|}}
          <div class="col-md-6 col-sm-12 list">
            {{infra-sensei-statistics model=sdata type="sensei" counterModel=model}}
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>

  {{!-- OS useage by time No horiz error. but not middle. --}}
  <div id="osusage" class="os-useage-bytime p-t-50 p-b-50">
    <p class="title p-l-50 p-b-30">
      <span class="underline">{{t 'dashboard.osUsageFirstSec'}}</span>{{t 'dashboard.osUsageSecondSec'}}</p>
    {{infra-deployedos-visualizelive model=model}}
  </div>

</div>
