<div class="sd-pool-name sd-table">
  <div class="sd-title">{{t 'stackPage.admin.storage.name'}} </div>
  <div class="sd-value">{{name}}</div>
</div>
<div class="sd-pool-type sd-table">
  <div class="sd-title">{{t 'stackPage.admin.storage.type'}} </div>
  <div class="sd-value">NFS</div>
</div>
<div class="sd-pool-cluster sd-table">
  <div class="sd-title">{{t 'stackPage.admin.storage.pool.poolCluster}} </div>
  <div class="sd-value">var/liv/dev</div>
</div>
<div class="sd-pool-asize sd-table">
  <div class="sd-title">{{t 'stackPage.admin.storage.pool.availSize}} </div>
  <div class="sd-value">500GB</div>
</div>
