<label for= {{tab}} role="button">
    <br>
    <span {{action "redirectOriginManagement"}}>{{t 'nav.organization.index.name'}}</span>
    >
    <span {{action "redirectOrigin"}}>{{currentOrigin}}</span>
    >
    <span>{{team}}</span>
</label>
