<div class="row">
    <div class="col-md-4 first-col">
        <p class="sub-title">{{t 'launcherPage.location.title'}}</p>
        <p class="sub-description">{{t 'launcherPage.location.globe.title'}}</p>
        {{svg/svg-dots class="dots-ico"}}
        {{svg/svg-locateme class=(if locationAvailable "locateme" "locateme  disabled") click=(action "getLocation")}}
    </div>

    <div class="col-md-4 second-col">
      <div id="rio-globe"></div>
    </div>

    <div class="col-md-4 third-col">
        <p class="title">{{t 'launcherPage.location.globe.display'}}</p>
        <ul class="rio-location-ul hex with-add">
          {{#if locationAvailable}}
          {{#each model.datacenters.content as |data|}}
            {{deploy-widgets/show-locations model=data}}
          {{/each}}
          {{else}}
          <p class="sub-description">{{t 'launcherPage.location.globe.none'}}</p>
          {{/if}}
        </ul>
        <div>
        {{#link-to "admin.infra"}}
        {{svg/svg-addmore class="addmore"}}
        {{/link-to}}
      </div>
    </div>
</div>
