<h2>{{t 'stackPage.applicationTab.feature'}}</h2>
<div class="filter">
    <div class="row">
        <div class="col-sm-12 col-lg-2">
            <div class="cloud-count">
                {{svg/svg-cloud-count}}
                <label>{{stacksCount}} {{t 'stackPage.applicationTab.clouds'}}</label>
            </div>
        </div>
        <div class="col-sm-12 col-lg-10">
            <div class="row p-r-15">
                <div class="col-sm-2 col-md-2 col-lg-1 filter-text">
                    {{#conditional-loading-spinner condition=showLoading}}
                        <span>{{t 'stackPage.applicationTab.filterBy'}}</span>
                    {{/conditional-loading-spinner}}
                </div>
                <div class="col-sm-10 col-md-10 col-lg-11">
                    <div class="row">
                        {{stacks-application-filters model=stacksDataContents fullmodel=fullmodel category=group showLoading=showLoading}}
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <div class="search-content">
                                {{input class="searchInput" title= "Search by name, status, ip, region." placeholder="Search"
                                value=searchFilter}}
                                {{fa-icon "search" click=(action "search") class="searchButton"}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cloud-lists row">
    {{#if stacksCount}}
        {{#conditional-loading-spinner condition=showLoading}}
            {{#each stacksDataContents as |stackDataContent|}}
                <div class="list col-sm-6 col-md-4">
                    {{stack-box model=stackDataContent}}
                </div>
            {{/each}}
        {{/conditional-loading-spinner}}
    {{/if}}
</div>
