<div class="select-domain settings activate pad-top">
  <p class="sub-title"> {{product}} </p>
  <p class="sub-description">{{t 'stackPage.admin.settings.entitlement.description'}}</p>

  <div class="row">
    <div class="col-sm-4">
      <p class="sub-title">{{t 'stackPage.admin.settings.entitlement.node' optionName=optionName senseiActivated=senseiActivated senseiAllowed=senseiAllowed}}</p>
      <p class="sub-description">{{status}}{{expired}}</p>
    </div>
    <div class="col-sm-8">
      {{multi-editable-popup-textbox placeholder1=licenseId placeholder2=licensePassword showSpinner=showSpinner targetActionName="performActivation" showEditBox=showActivationEditBox btnName=btnName}}

    </div>

  </div>
</div>
