<div class="select-domain settings activate pad-top">
  <p class="sub-title"> {{product}} </p>
  <p class="sub-description">{{t 'stackPage.admin.settings.entitlement.description'}}</p>
  {{editable-popup-textbox placeholder=placeHolder showSpinner=showSpinner targetActionName="performActivation" showIcon=showIcon btnName=btnName}}
  <div class="row">
    <div class="col-sm-5">
      <p class="sub-title">{{t 'stackPage.admin.settings.entitlement.senseis' senseiActivated=senseiActivated senseiAllowed=senseiAllowed}}</p>
      <p class="sub-description">{{status}}{{expired}}</p>
    </div>
    <div class="col-sm-2">
      {{svg/svg-dots class="dots-ico"}}
    </div>
    <div class="col-sm-5">
      <p class="sub-title"> {{t 'stackPage.admin.settings.entitlement.ninjas' ninjaActivated=ninjaActivated ninjaAllowed=ninjaAllowed}}</p>
      <p class="sub-description">{{status}}{{expired}}</p>
    </div>
  </div>
</div>
