<div class="select-domain activate"  >
<p class="sub-title"> Rio/OS&nbsp;&nbsp;{{status}}{{expired}}</p>
<p class="sub-description">{{t 'stackPage.admin.settings.entitlement.description'}}</p>
<div class="webdesigntuts-workshop">
  {{svg/svg-edit class=(if showIcon "edit-ico" "display-none") click=(action 'clickInputIcon')}}
  <div class= {{if showIcon "display-none" "showform"}}>
    {{input type="text" placeholder=placeHolder value=licenseToken}}
    <button {{action "setLicenseToken" licenseToken}}>{{t 'stackPage.admin.header.active_btn'}}
			{{#if showSpinner}}
			<i class="fa fa-circle-o-notch fa-spin"></i>
			{{/if}}
		</button>
  </div>
</div>
</div>
