<div class="editable-popup activate">
  {{svg/svg-edit class=(if showEditBox "edit-ico" "display-none") click=(action 'clickInputIcon')}}
  <div class= {{if showEditBox "display-none" "showform"}}>
    {{input type="text" placeholder=placeholder value=editedText}}
    <button {{action "setPopupData" editedText }}>{{t 'actions.set'}}
    {{#if showSpinner}}
    <i class="fa fa-circle-o-notch fa-spin"></i>
    {{/if}}
  </button>
  </div>
</div>
