<div class="setup-content" id="step-7">
  <p class="sub-title"> Server OS </p>
  <p class="sub-description"> Select preferred system</p>
  <div class="row m-b-30">
    <div class="col-xs-4 cgpu">
      <img src="images/second/{{model.assemblyfactory.resources.compute_type}}.png">
      <div class="description">
        <p class="topic1">{{model.assemblyfactory.resources.compute_type}}</p>
        <p class="topic2">CLOUD TYPE</p>
      </div>
      <img class="right-light" src="images/second/summary/right_light.png">
    </div>
    <div class="col-xs-4 domain-name">
      <div class="description">
        {{#if domainExisit}}
          <div class="icon">
            <p class="topic3">empty domain</p>
            {{fa-icon "exclamation-circle"}}
          </div>

        {{else}}
          <p class="topic1">{{model.assemblyfactory.name}}</p>
        {{/if}}
        <p class="topic2">Domain Name</p>
      </div>
      <img class="display-line" src="images/second/summary/right_light.png">
    </div>
    <div class="col-xs-4">
      <div class="set-location">
        {{#if regionExisit}}
          <span class="no-country">empty location</span> {{fa-icon "exclamation-circle"}}
        {{else}}
        <img class="btn-location" src="images/second/locaion_ico.png">
          <span class="country">{{model.assemblyfactory.object_meta.cluster_name}}</span>
        {{/if}}
        <p class="topic2">Region</p>
      </div>
    </div>
  </div>
  <div class="row m-b-30 storage">
    <div class="col-xs-6">
      <div class="s-ram">
        <img src="images/second/summary/hexCore.png">
        <div class="topic0">{{model.assemblyfactory.resources.cpu}}</div>
      </div>
      <div class="description">
        <p class="topic1">Cores</p>
        <p class="topic2">Number</p>
      </div>
      <img class="right-light p-r-30" src="images/second/summary/right_dark.png">
      <div class="description">
        <p class="topic3">{{model.assemblyfactory.resources.memory}}</p>
        <p class="topic2">Ram</p>
      </div>
      <img class="right-light p-l-30" src="images/second/summary/right_dark.png">
    </div>
    <div class="col-xs-6 s-storage">
      <img class="flash" src="images/second/summary/{{model.assemblyfactory.resources.storage_type}}.png">
      <div class="description">
        <p class="topic1 cap">{{model.assemblyfactory.resources.storage_type}}</p>
        <p class="topic2">Storage type</p>
      </div>
      <img class="right-light p-r-30" src="images/second/summary/right_dark.png">
      <div class="description">
        <p class="topic4">{{model.assemblyfactory.resources.storage}}</p>
        <p class="topic2">Storage Capacity</p>
      </div>
    </div>
  </div>
  <div class="row ip-os">
    <div class="description">
      <p class="topic1">{{network}}</p>
      <p class="topic2">Networking</p>
    </div>
    <img class="right-light p-r-30" src="images/second/summary/right_light.png">
    {{#if noImage}}
      <span> no image selected </span> {{fa-icon "exclamation-circle"}}
    {{else}}
      <img src="images/second/summary/ico_{{distroNameFromPlan}}.png">
      <div class="btn-version"><img><span>{{model.assemblyfactory.resources.version}}</span></div>
    {{/if}}
    <img class="right-light p-r-30" src="images/second/summary/right_light.png">
    <div class="launch" style="margin-left: -80px;">
      {{theme-spinner size=25 condition=showSpinner}}
      {{#unless showSpinner}}
        <p class="title" {{action 'createAssemblyFactory'}}>Launch your cloud<img src="images/second/summary/ico_cloud.png"></p>
      {{/unless}}
    </div>
  </div>
</div>
