<div class="signin signform">
  {{#link-to "signup"}}
  <img class="logo-img" src="images/logo1.png">{{/link-to}}
  <div class="container">
    <h1>{{t 'loginPage.greeting'}}</h1>
    <form>
      <div class="form-group {{val_username}}">
        {{input type="text" class="login-user" value=username}}
        <label class="{{if username 'data-exist'}} control-label" for="input">{{t 'loginPage.usernameLabel'}}</label>
        <i class="bar"></i>
      </div>

      <div class="form-group {{val_password}}">
        {{input type=(if showPassword "text" "password") class="login-password" value=password}}
        <label class="{{if password 'data-exist'}} control-label" for="input">
          {{t 'loginPage.passwordLabel'}}
        </label>
        {{fa-icon "eye" click=(action "toggleHiddenPassword") class="eye-icon icon-eye-open"}}
        <i class="bar"></i>
      </div>

    </form>

    <div class="button-container">
      <button class="button" {{action 'login'}}>
        <span>{{t 'loginPage.greeting'}}
          <span class="startvalidation"> {{t 'loginPage.loggingInLabel'}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                {{theme-spinner size=50 condition=showSpinner}}
                {{#unless showSpinner}}
                {{fa-icon "long-arrow-right" class="right-arrow"}}
                {{/unless}}
        </span>
      </button>
    </div>

    <div class="sub-description">
      {{#link-to "signup" class="signform-link" }}{{t 'loginPage.signupLabel'}}{{/link-to}} {{fa-icon "edit" class="signup-icon"}}
    </div>

  </div>
</div>
