<p class="sub-title">{{t 'launcherPage.summary.title'}}</p>
<p class="sub-description">{{t 'launcherPage.summary.subtitle'}}</p>
<div class="row layer1">
  <div class="col-md-5 cloud-content">
    {{#if isSelectedCPU}}
      {{svg/svg-cpu-ico class="icon"}}
    {{else}}
      {{svg/svg-gpu-ico class="icon"}}
    {{/if}}
    <div class="content">
      <p class="title">{{if isSelectedCPU "CPU" "GPU"}}</p>
      <p class="description">{{t 'launcherPage.summary.cloudType'}}</p>
    </div>
    {{svg/svg-arrow-hexagon class="light-right" isLightColor=true isRightArrow=true}} {{svg/svg-arrow-hexagon class="light-down" isLightColor=true isRightArrow=false}}
  </div>
  <div class="col-md-4 domain-content">
    <div class="content">
      <p class="title" title= {{model.stacksfactory.object_meta.name}}>{{model.stacksfactory.object_meta.name}}</p>
      <p class="description">{{t 'launcherPage.summary.domain'}}</p>
    </div>
    {{svg/svg-arrow-hexagon class="light-right" isLightColor=true isRightArrow=true}} {{svg/svg-arrow-hexagon class="light-down" isLightColor=true isRightArrow=false}}
  </div>
  <div class="col-md-3 location-content">
    {{#if regionExisit}}
      <span>  {{t 'launcherPage.location.required'}} </span> {{fa-icon "exclamation-circle"}}
    {{else}}
      <ul class="rio-location-ul hex">
        <li>
          <label class="city">{{model.stacksfactory.object_meta.cluster_name}}</label>
        </li>
      </ul>
    {{/if}}
    <p class="description">{{t 'launcherPage.summary.location'}}</p>
  </div>
</div>
<div class="row layer2">
  <div class="col-md-6 p-0">
    <div class="col-md-7 cores-content p-0">
      {{svg/svg-hex-number class="hex-number" initValue=model.stacksfactory.resources.cpu}}
      <div class="content">
        <p class="title">{{t 'launcherPage.resource.capacity.cpu.static1'}}</p>
        <p class="description">{{t 'generic.number'}}</p>
      </div>
      {{svg/svg-arrow-hexagon class="light-right" isLightColor=false isRightArrow=true}} {{svg/svg-arrow-hexagon class="light-down" isLightColor=false isRightArrow=false}}
    </div>
    <div class="col-md-5 ram-content">
      <div class="content">
        <p class="title">{{ram}}</p>
        <p class="description">{{t 'launcherPage.resource.capacity.ram.title'}}</p>
      </div>
      {{svg/svg-arrow-hexagon class="light-right" isLightColor=false isRightArrow=true}} {{svg/svg-arrow-hexagon class="light-down" isLightColor=false isRightArrow=false}}
    </div>
  </div>
  <div class="col-md-6 p-0">
    <div class="col-md-8 flash-content p-0">
      {{#if isSelectedFlash}}
        {{svg/svg-flash class="rio-flash selected"}}
      {{else}}
        {{svg/svg-hdd class="rio-hdd selected"}}
      {{/if}}
      <div class="content">
        <p class="title">{{if isSelectedFlash "FLASH" "HDD"}}</p>
        <p class="description">{{t 'launcherPage.resource.capacity.storage.title'}}</p>
      </div>
      {{svg/svg-arrow-hexagon class="light-right" isLightColor=false isRightArrow=true}} {{svg/svg-arrow-hexagon class="light-down" isLightColor=false isRightArrow=false}}
    </div>
    <div class="col-md-4 storage-content p-0">
      <div class="content">
        <p class="title">{{ram}}</p>
        <p class="description">{{t 'launcherPage.resource.capacity.storage.select.title'}}</p>
      </div>
    </div>
  </div>
</div>
<div class="row layer3">
  <div class="col-md-4 ip-content">
    <div class="content">
      {{#if networkExisit}}
        <span>  {{t 'launcherPage.network.required'}} </span> {{fa-icon "exclamation-circle"}}
      {{else}}
        <p class="title">{{if isIPv4 "IPv4" "IPv6"}} {{if isPrivate "Private" "Public"}}</p>
      {{/if}}
      <p class="description">{{t 'launcherPage.network.title'}}</p>
    </div>
    {{svg/svg-arrow-hexagon class="light-right" isLightColor=true isRightArrow=true}} {{svg/svg-arrow-hexagon class="light-down" isLightColor=true isRightArrow=false}}
  </div>
  <div class="col-md-4 logo-content">
    <div class="content">
      {{#if imageExisit}}
        <span>  {{t 'launcherPage.summary.image.empty'}} </span> {{fa-icon "exclamation-circle"}}
      {{else}}
      <img src="assets/images/createcloud/cloud-logos/{{icon}}">
      <div class="rio-os-version">
        {{svg/svg-version class="version-bg"}}
        <p title={{model.stacksfactory.resources.version}}>{{model.stacksfactory.resources.version}}</p>
      </div>
      {{/if}}
    </div>
    {{svg/svg-arrow-hexagon class="light-right" isLightColor=true isRightArrow=true}} {{svg/svg-arrow-hexagon class="light-down" isLightColor=true isRightArrow=false}}
  </div>
  <div class="col-md-4 last-btn">
    <div id="id" class="flipper {{filpper}}">
      <div class="front-face" data-icon="&#x27a3;" {{action 'createStacksFactory'}}><span data-hover="Clicked">{{t 'launcherPage.summary.launch.now'}}</span></div>
      <div class="back-face" data-icon="&#10003;">{{t 'launcherPage.summary.launchThank'}}</div>
    </div>
  </div>
</div>
