{{organization/create-origin doReloadInner="doReloadInner"}}
<div class="filter">
    <div class="row">
        <div class="col-sm-12 col-lg-2">
            <div class="cloud-count">
                {{svg/svg-cloud-count}}
                <label>{{orgCount}} origin</label>
            </div>
        </div>
        <div class="col-sm-12 col-lg-10">
            <div class="row p-r-15">
                <div class="col-sm-2 col-md-2 col-lg-1 filter-text">
                    {{#conditional-loading-spinner condition=showLoading}}
                        <span>{{t 'stackPage.applicationTab.filterBy'}}</span>
                    {{/conditional-loading-spinner}}
                </div>
                <div class="col-sm-10 col-md-10 col-lg-11">
                    <div class="row">
                        {{organization/origin-filters model=orgDataContents fullmodel=fullmodel category=group showLoading=showLoading}}
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 push-right">
                            <div class="search-content">
                                <button {{action "createOrigin"}} type="button" class="btn">+ Origin</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cloud-lists row">
  {{#if showInnerSpinner}}
  <div class="spinner infra-spinner">
  {{stack-launch-spinner size=25 showSpinner=true}}
  </div>
  {{else}}
  {{#each orgDataContents as |orgDataContent|}}
      <div class="list col-sm-5 col-md-3">
          {{organization/origin-box model=orgDataContent}}
      </div>
      {{else}}
     {{organization/team-box-empty btnName=emptyBtn btnAction="createTeam"}}
  {{/each}}
  {{/if}}
</div>
