<div class="modal fade node_discovery node_modal settings" id="alert_rule_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{t 'dojos.settings.alerts.rules.title'}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="alerts_rules_type">{{t 'dojos.settings.alerts.rules.type'}}</label>
              <select class="form-control" id="alerts_rules_type" name="alerts_rules_type" onchange= {{action "selectStorage" value="target.value"}}>
                {{#each rulesForSelectBox as |type|}}
                <option value={{type.value}}>{{type.text}}</option>
                {{/each}}
                </select>
            </div>
          </div>          
        </div>        

        <div class="row ">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="alertsRulesDescription">{{t 'dojos.settings.alerts.rules.expressions'}}</label> 
              <p>{{selectType}}</p>
            </div>
          </div>
        </div>

        <div class="row">
          {{#each selectedRuleTypes as |type|}}
            <div class="col-sm-6">
            <div class="form-group">
              <label class="text-center" >{{type.label}}</label>
              <label class="text-center mini-text" id="rulesExprValue-{{type.id}}">{{t 'dojos.settings.alerts.rules.empty'}}</label>
              {{text-editable-popup-textbox placeholder="" showSpinner=showSpinner targetActionName="setRuleExpr" showEditBox="showEditBox-{{type.id}}" targetRef=type.id}}
            </div>
          </div>
          {{/each}}          
        </div>      

        <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
              <label for="alerts_rules_type">{{t 'dojos.settings.alerts.rules.actions'}}</label>
              {{ember-select-guru
                value=multipleValue
                options=options
                onSelect=(action "handleMultiSelect")
                multiple=true}}
            </div>
            </div>
          </div>

        <button type="submit" {{action 'apply'}} class="btn btn-default">
            {{t 'actions.activate'}}
            {{#if showSpinner}}
            <i class="fa fa-circle-o-notch fa-spin"></i>
            {{/if}}
          </button>

      </div>
    </div>

  </div>
</div>
