<div class="modal fade node_discovery node_modal settings" id="alert_rule_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{t 'dojos.settings.alerts.rules.title'}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="alerts_rules_type">{{t 'dojos.settings.alerts.rules.type'}}</label>
              <select class="form-control" id="alerts_rules_type"
              name="alerts_rules_type" onchange= {{action "ruleChanged" value="target.value"}}>
                {{#each formattedRules as |rule|}}
                <option value={{rule.value}}>{{rule.text}}</option>
                {{/each}}
                </select>
            </div>
          </div>
        </div>

        <div class="row ">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="alertsRulesDescription">{{t 'dojos.settings.alerts.rules.expressions'}}</label>
              <p>{{rule.id}}</p>
            </div>
          </div>
        </div>

        <div class="row">
          {{#each labelsBtwn as |fill|}}
            <div class="col-sm-6">
            <div class="form-group">
              <label class="text-center" >{{fill.label}}</label>
              <label class="text-center mini-text" id="kvExpressionValue-{{fill.id}}">{{t 'dojos.settings.alerts.rules.empty'}}</label>
              {{text-editable-popup-textbox placeholder=""
              showSpinner=showSpinner targetActionName="expressionUpdated"
              showEditBox="showEditBox-{{fill.id}}" targetRef=fill.id}}
            </div>
          </div>
          {{/each}}
        </div>

        <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
              <label for="alerts_rules_type">{{t 'dojos.settings.alerts.rules.actions'}}</label>
                {{searchable-select
                  content=content
                  selected=selectedNotifiers
                  sortBy="title"
                  multiple=true
                  prompt="Choose alert actions"
                  on-change=(action "notifierChanged")}}
            </div>
            </div>
          </div>

        <button type="submit" {{action 'submit'}} class="btn btn-default">
            {{t 'actions.activate'}}
            {{#if showSpinner}}
            <i class="fa fa-circle-o-notch fa-spin"></i>
            {{/if}}
          </button>

      </div>
    </div>

  </div>
</div>
