<!-- <div class="container">
    <div class="application">
        {{theme-navbar}}
        {{outlet}}
    </div>
</div> -->

{{#if currentlyLoading}}
{{theme-loader}}
  {{else}}
  <div class="container">
    <div class="application">
      {{#if shownavbar}}
      {{theme-navbar}}
      {{/if}}
        {{outlet}}
      </div>
    </div>

{{/if}}
