<div class="signin signform">
  {{#link-to "signup"}}<img class="logo-img" src="images/logo1.png">{{/link-to}}
  <div class="container">
    <h1>SIGN IN</h1>
    <form>
      <div class="form-group {{val_username}}">
        {{input type="text" value=username}}
        <label class="{{if username 'data-exist'}} control-label" for="input">User name</label><i class="bar"></i>
      </div>

      <div class="form-group {{val_password}}">
        {{input  type=(if eyeStatus "text" "password") value=password}}
        <label class="{{if password 'data-exist'}} control-label" for="input">Password</label>
        <!-- <i class="eye-icon icon-eye-open {{unless eyeStatus "open"}}" {{action 'changeEye'}}></i> -->
        {{fa-icon "eye" click=(action "changeEye") class="eye-icon icon-eye-open"}}
        <i class="bar"></i>

      </div>

    </form>

    <div class="button-container">
      <button class="button" {{action 'login'}}><span>SIGN IN<span class="startvalidation"> (START VERIFICATION)</span>
        {{fa-icon "long-arrow-right" class="right-arrow"}}
      </span>
    </button>
    </div>

    <div class="sub-description">
      {{#link-to "signup" class="signform-link" }}Sign up{{/link-to}}
      {{fa-icon "edit" class="signup-icon"}}

    </div>

  </div>
</div>
