<div class="dashboard">
  <div class="tabs">
    <input type="radio" id="tab1" name="tab-control" checked>
    <input type="radio" id="tab2" name="tab-control">
    <input type="radio" id="tab3" name="tab-control">
    <ul class="dashboardNav">
      <li title="Container">
        <label for="tab1" role="button">
                    {{svg/svg-container class="display-inline"}}<br>
                    <span>Container</span>
                </label>
      </li>
      <li title="Digital Cloud">
        <label for="tab2" role="button">
                    {{svg/svg-digital-cloud class="display-inline"}}<br>
                    <span>Digital Cloud</span>
                </label>
      </li>
      <li title="Blockchain">
        <label for="tab3" role="button">
                    {{svg/svg-blockchain class="display-inline"}}<br>
                    <span>Blockchain</span>
                </label>
      </li>
    </ul>

    <div class="slider">
      <div class="indicator"></div>
    </div>
    <div class="content">
      <section>
        {{manage/assembly-list model=model assemblys=containerAssemblys}}
      </section>
      <section>
        {{manage/assembly-list model=model assemblys=machineAssemblys}}
      </section>
      <section>
        {{manage/assembly-list model=model assemblys=blockChainAssemblys}}
      </section>
    </div>
  </div>

  <!-- {{theme-footer}} -->
</div>
