<div class="signup-page signform">
  {{#link-to "signup"}}<img class="logo-img" src="images/logo2.png">{{/link-to}}
  <div class="container">
    <!-- <img class="signup-icon" src="images/signup/signupicon.png"> -->
    <form>
      <h1>SIGN UP</h1>

      <div class="form-group {{val_company}}">
        {{input type="text" value=company_name}}
        <label class="{{if company_name 'data-exist'}} control-label" for="input">Company name</label><i class="bar"></i>
      </div>

      <div class="form-group {{val_firstName}}">
        {{input type="text" value=first_name}}
        <label class="{{if first_name 'data-exist'}} control-label" for="input">First name</label><i class="bar"></i>
      </div>

      <div class="form-group {{val_lastName}}">
        {{input type="text" value=last_name}}
        <label class="{{if last_name 'data-exist'}} control-label" for="input">Last name</label><i class="bar"></i>
      </div>

      <div class="form-group {{val_phone}}">
        {{input type="number" value=phone class="ember-view ember-text-field"}}
        <label class="{{if phone 'data-exist'}} control-label" for="input">Phone</label><i class="bar"></i>
      </div>

      <div class="form-group {{val_email}}">
        {{input type="text" value=email}}
        <label class="{{if email 'data-exist'}} control-label" for="input">email</label>
        <i class="bar"></i>
        {{#unless emailExistence}}
          {{fa-icon "exclamation-circle" class="wariningcolor"}} <span class='wariningcolor'>{{emailErrorMsg}}</span>
        {{/unless}}
      </div>

      <div class="form-group {{val_code}}">
        {{input type="password" value=password}}
        <label class="{{if password 'data-exist'}} control-label" for="input">Activate on code</label><i class="bar"></i>
      </div>

    </form>

    <div class="button-container">
      <button class="button" {{action 'singUp'}}><span>Create account
        {{fa-icon "long-arrow-right" class="right-arrow"}}

      </span></button>
    </div>

    <div class="sub-description">
      Already have an account?
      {{#link-to "login" class="signup-link" }}Sign in{{/link-to}}
    </div>

  </div>
</div>
