<div class="col-sm-6">
  {{svg/svg-cpu-ico}}
  <p class="title">{{t 'launcherPage.compute.cpu.titleUpcase'}}</p>
  <p class="description">{{t 'launcherPage.compute.cpu.static1'}}</p>
</div>
<div class="col-sm-6">
  {{svg/svg-gpu-ico}}
  <p class="title">{{t 'launcherPage.compute.gpu.titleUpcase'}}</p>
  <p class="description">{{t 'launcherPage.compute.gpu.static1'}}</p>
</div>
