<div class="setup-content" id="step-6">
    <p class="sub-title"> Networking </p>
    <div class="row p-t-50">
        <div class="col-xs-5 col-xs-offset-1">
            <p><img src="images/second/serveros/net_step.png"><span class="ip-title">IPv4</span></p>
            <div class="p-l-108">
                <div class="net-type {{private_ipv4}}" {{action 'selected' 'private_ipv4'}}>
                    <img class="typeofkey_btn" src="images/second/ip_dot.png">
                    Private
                </div>
                <div class="net-type {{public_ipv4}}" {{action 'selected' 'public_ipv4'}}>
                    <img class="typeofkey_btn" src="images/second/ip_dot.png">
                    Public&nbsp;
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <p><img src="images/second/serveros/net_step.png"><span class="ip-title">IPv6</span></p>
            <div class="p-l-108">
                <div class="net-type {{private_ipv6}}" {{action 'selected' 'private_ipv6'}}>
                    <img class="typeofkey_btn" src="images/second/ip_dot.png">
                    Private
                </div>
                <div class="net-type {{public_ipv6}}" {{action 'selected' 'public_ipv6'}}>
                    <img class="typeofkey_btn" src="images/second/ip_dot.png">
                    Public&nbsp;
                </div>
            </div>
        </div>
    </div>
</div>
