<h2>Features</h2>
<div class="filter">
    <div class="row">
        <div class="col-sm-12 col-lg-2">
            <div class="cloud-count">
                {{svg/svg-cloud-count}}
                <label>{{assemblyLength}} clouds</label>
            </div>
        </div>
        <div class="col-sm-12 col-lg-10">
            <div class="row p-r-15">
                <div class="col-sm-2 col-md-2 col-lg-1 filter-text">
                    <span>Filter by:</span>
                </div>
                <div class="col-sm-10 col-md-10 col-lg-11">
                    <div class="row">
                                {{manage/select-filters model=filterProperties filterProcess="filterProcess"}}
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <div class="search-content">
                              {{#unless isSearchVisible}}
                              {{fa-icon "refresh" click=(action "filterReset") class="spinnerButton"}}
                              {{/unless}}
                                {{#if isSearchVisible}}
                                    {{input class="searchInput" title="Search by name, status, ip, region." placeholder="Search" value=theFilter}}
                                {{/if}}
                                {{fa-icon "search" click=(action "search") class="searchButton"}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cloud-lists row">
    {{#each filteredAssemblys as |content|}}
    <div class="list col-sm-6 col-md-4">
        {{manage/assembly-box model=content}}
    </div>
    {{/each}}
</div>
