<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
  <div class="select-filter">
    <div class='md-select {{if isActiveA 'active'}}' {{action "clickSelect" "isActiveA" on="click"}} {{action "focusOutSelect" "isActiveA" on='focusOut'}}>
      <label for="ul-id"><button type="button" class="ng-binding">{{model.a.name}}</button></label>
      <ul role="listbox" class="md-whiteframe-z1" aria-activedescendant="state2_AK" name="ul-id">
        {{#each model.a.data as |data|}}
          <li role="option" value="{{data}}" class="ng-binding ng-scope" tabindex="-1" {{action "clickOption" "model.a.id" "model.a.name" data on="mouseDown"}}>{{data}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
  <div class="select-filter">
    <div class='md-select {{if isActiveB 'active'}}' {{action "clickSelect" "isActiveB" on="click"}} {{action "focusOutSelect" "isActiveB" on='focusOut'}}>
      <label for="ul-id"><button type="button" class="ng-binding">{{model.b.name}}</button></label>
      <ul role="listbox" class="md-whiteframe-z1" aria-activedescendant="state2_AK" name="ul-id">
        {{#each model.b.data as |data|}}
          <li role="option" value="{{data}}" class="ng-binding ng-scope" tabindex="-1" {{action "clickOption" "model.b.id" "model.b.name" data on="mouseDown"}}>{{data}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>


<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
  <div class="select-filter">
    <div class='md-select {{if isActiveC 'active'}}' {{action "clickSelect" "isActiveC" on="click"}} {{action "focusOutSelect" "isActiveC" on='focusOut'}}>
      <label for="ul-id"><button type="button" class="ng-binding">{{model.c.name}}</button></label>
      <ul role="listbox" class="md-whiteframe-z1" aria-activedescendant="state2_AK" name="ul-id">
        {{#each model.c.data as |data|}}
          <li role="option" value="{{data}}" class="ng-binding ng-scope" tabindex="-1" {{action "clickOption" "model.c.id" "model.c.name" data on="mouseDown"}}>{{data}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>


<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
  <div class="select-filter">
    <div class='md-select {{if isActiveD 'active'}}' {{action "clickSelect" "isActiveD" on="click"}} {{action "focusOutSelect" "isActiveD" on='focusOut'}}>
      <label for="ul-id"><button type="button" class="ng-binding">{{model.d.name}}</button></label>
      <ul role="listbox" class="md-whiteframe-z1" aria-activedescendant="state2_AK" name="ul-id">
        {{#each model.d.data as |data|}}
          <li role="option" value="{{data}}" class="ng-binding ng-scope" tabindex="-1" {{action "clickOption" "model.d.id" "model.d.name" data on="mouseDown"}}>{{data}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>


<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
  <div class="select-filter">
    <div class='md-select {{if isActiveE 'active'}}' {{action "clickSelect" "isActiveE" on="click"}} {{action "focusOutSelect" "isActiveE" on='focusOut'}}>
      <label for="ul-id"><button type="button" class="ng-binding">{{model.e.name}}</button></label>
      <ul role="listbox" class="md-whiteframe-z1" aria-activedescendant="state2_AK" name="ul-id">
        {{#each model.e.data as |data|}}
          <li role="option" value="{{data}}" class="ng-binding ng-scope" tabindex="-1" {{action "clickOption" "model.e.id" "model.e.name" data on="mouseDown"}}>{{data}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
